.logo {
}
@media (min-width: 1024px) {
  .logo {
    width: 700px;
  }
}
@media (min-width: 900px) {
  .logo {
    width: 600px;
  }
}
@media (min-width: 700px) {
  .logo {
    width: 500px;
  }
}
.cir {
  position: absolute;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid #1fa2ff;
}
