.quote-container {
  padding: 60px 0;
  background-color: #37474f;
  text-align: center;
}

.quote-container h3 {
  display: inline-block;
  position: relative;
  text-align: center;
}

.quote-container h3::before {
  content: "\“";
  position: absolute;
  top: -26px;
  left: -26px;
  font-size: 2em;
  opacity: 0.4;
}
.quote-container h3::after {
  content: "\”";
  position: absolute;
  top: 26px;
  right: -26px;
  font-size: 2em;
  opacity: 0.4;
}

.quote-container span {
  display: block;
  text-align: center;
  margin-top: 26px;
}
