.navbar {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: #000000;
}

.navbarwrapper {
  background-color: #383838;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
/* .navbar a:hover {
  background-color: #ddd;
  color: black;
} */

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4caf50;
  color: white;
}
