html {
  scroll-behavior: smooth;
}
.landing {
  background-image: url("./img/frontCover2.jpg");
  height: 600px;
  width: 100%;
}
.content {
  padding: 10 0 20 0;
  margin-left: 7%;
  margin-right: 7%;
}

.sv-btn {
  padding: 0.1em 1.786em 0.6em !important;
}

