html {
  scroll-behavior: smooth;
}
.landing {
  background-image: url("./img/frontCover2.jpg");
  height: 600px;
  width: 100%;
}
.content {
  padding: 10 0 20 0;
  margin-left: 15%;
  margin-right: 15%;
}
