html {
  scroll-behavior: smooth;
  background-color: #2a3136;
}
.landing {
  height: 600px;
  width: 100%;
}
.content {
  text-align: center;
  padding: 10 0 20 0;
  margin-left: 10%;
  margin-right: 10%;
}
.stepguide {
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}
.stepbar {
  text-align: center;
  padding: 10 0 20 0;
}
@media (max-width: 768px) {
  .content {
    text-align: center;
    padding: 10 0 20 0;
    margin-left: 1%;
    margin-right: 1%;
  }
}
.evaluation {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px 30px 20px 30px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .evaluation {
    margin-left: 0%;
    margin-right: 0%;
  }
}

.sv-btn {
  padding: 0.1em 1.786em 0.6em !important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.footerpadding {
  min-height: 73vh;
  padding-bottom: 8rem;
}

.mainconteainer {
  position: relative;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1500px) {
  .container {
    width: 1470px;
  }
}
