.tile_link {
  text-decoration: none;
}

.tile {
  width: 700px;
  height: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-image: linear-gradient(to top, #1fa2ff 0%, #1fa2ff 100%);
  overflow: hidden;
}

.wave {
  width: 1000px;
  height: 1025px;
  top: -25%;
  left: 50%;
  margin-left: -650px;
  margin-top: -500px;
  border-radius: 35%;
  background: #363f44;
  animation: wave 15s infinite linear;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
